# Python
*.pyc
*.pyo
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Frappe
*.log
*.mariadb
*.swp
*.swo
*~
.DS_Store
node_modules/
public/files/

# Environment
.env
*.conf
sites/

# IDE
.vscode/
.idea/
*.sublime-*

# Temporary files
*.tmp
*.bak
*.swp
firebase_credentials.json
