/* ????? ??? ???????? */
.page-title .title-text {
    color: #0052cc;
    font-weight: bold;
}

/* ????? ?????? */
.form-control {
    border-radius: 6px;
}

/* ????? ??????? */
.btn-primary {
    background-color: #0077ff;
    border-color: #005fcc;
}